@import "../../common/sidebar/sidebar.css";
@import '../../common/navbar/navbar.css';
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

nav {
  border-bottom: 3px solid black;
}
.navbar-start {
  flex-grow: 1;
  justify-content: center;
}
.brandname {
  font-family: 'Limelight',cursive;
  font-size: 24px;
}

.div-container {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  margin-left: 5em;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 85%;
  height: auto;
}

.order-header {
  width: 100%;
  margin: 30px;
  padding: 20px;
  display: flex;
  flex: row;
  text-align: bottom;
  border-bottom: 1px solid grey;
  border-collapse: collapse;
}

.order-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}


.order-iteminfo {
    width: 100%;
}

.o-list-header {
  display: flex;
  flex-direction: row;
  background-color: grey;
  width: 100%;
  color: white;
  font-size: 15px; 
  text-align: center;
  border-bottom: solid black 5px;
  padding: 1em;
}

.order {
  display: flex;
  flex-direction: colum;
}

.o-list-main, .product-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: black;
  font-size: 15px; 
  text-align: center;
  border-bottom: grey 2px;
  padding: 1em;
}
.product-header {
  background-color: black;
  color: white;
  margin-bottom: 1rem;
}
.o-list-header div, .product-header div{
  width: 25%;
  border: white;
}
.o-list-main div {
  width: 25%;
}

.o-list-specific {
  display: none;
  width: 100%;
  border: black 3px;
}
/* .o-list-specific-tar {
  display: block;
  width: 100%;
  border: black 3px;
} */

.product {
  width: 100%;
  border: black 3px;
}
.product div {
  width: 25%;
}


.cancel-order-btn {
  border: none;

}

.product {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;

  width: 100%;

  border: black 3px;
  border-collapse: collapse;
}

.order :hover {
  background-color: lightgrey;
}

/* 상품별 상세 정보 */
.productImg {
  width: 10rem;
}
.reviewBtn {
  height: 5rem;
  border: none;
}
