@import '../common/sidebar/sidebar.css';
@import '../common/navbar/navbar.css';


nav {
  border-bottom: 3px solid black;
}


.shopmen {
  cursor: pointer;
  padding: auto;
}

.shopwomen {
  cursor: pointer;
  padding: auto;
}

.mainpagecontainer {
  display: flex;
  padding-top: 20px;
}

.mainpagecontainer img {
  width: 540px;
  height: auto;
}

.left, .right {
  position: relative;
  transition: all 0.3s;
}
.mainpagecontainer p {
  position: absolute;
  top: 50%;
  left: 35%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.left:hover, .right:hover {
  opacity: 0.5;
}
