<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-n팀</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 다음 우편번호 서비스 api-->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="order.css" />
    <script src="order.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container mt-3">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="/elice-rabbit.png" width="30" height="30" />
            <span class="has-text-link">쇼핑 3팀</span>
          </a>

          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

          <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
            <ul id="navbar">
              <li><a href="/login">로그인</a></li>
              <li><a href="/register">회원가입</a></li>
              <li>
                <a href="/cart" aria-current="page">
                  <span class="icon">
                    <i class="fas fa-cart-shopping"></i>
                  </span>
                  <span>카트</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    
    <!--- 카트 구현 --->
    <div class="div-container">
      <div class="order-header" id="processDiv">
        <p class="cur-process"> 장바구니 </p> <p> &gt; 주문결제 &gt; 주문완료 </p>
      </div>
        <div class="order-body">
          <!-- 배송 정보 -->
          <form id="delivery-form">
            <div class="delivery-info" id="deliveryinfoDiv">
              <ol id="delivery-info-list" style="list-style: none;">
                <li>
                  <p>이름</p>  
                  <input type="text" placeholder="받는 분 이름을 입력해 주세요." name=""/>
                </li>
                <li>
                  <p>연락처</p>
                  <input type="text" placeholder="-없이 입력해 주세요." name=""> 
                </li>
                <li>
                  <p>주소</p>
                  <div>
                    <input type="text" id="postcode" style="width: 70%">
                    <input type="button" value="주소찾기" style="width: 20%" onclick="DaumPostcode()"><br>
                    <input type="text" id="address"><br>
                    <input type="text" id="detail-address">
                  </div>
                </li>
                <li>
                  <p>요청사항</p>
                  <select name="requests" form="form id">
                    <option value="">배송시 요청사항을 선택해 주세요.</option>
                    <option value="직접 수령">직접 수령하겠습니다.</option>
                    <option value="배송전 연락">배송 전 연락바랍니다.</option>
                    <option value="경비실">부재 시 경비실에 맡겨주세요.</option>
                    <option value="문앞">부재 시 문앞에 놓아주세요.</option>
                    <option value="택배함">부재 시 택배함에 넣어주세요.</option>
                    <option value="">직접 입력</option>
                  </select>
                </li>
              </ol>
            </div>
          </form>

          <!-- 결제정보 -->
          <div class="order-summary" id="summaryDiv">
            <h3> 결제정보 </h3>
            <table id="ordersummary-table">
              <tbody>
                <tr>
                  <td align="left">상품수</td>
                  <td align="right" id="p-amount"></td>
                </tr>
                <tr>
                  <td align="left">상품금액</td>
                  <td align="right" id="p-price"></td>
                </tr>
                <tr>
                  <td align="left">배송비</td>
                  <td align="right" id="p-shipping"></td>
                </tr>
              </tbody>     
            </table>
            <div id="p-total"> 총 결제금액 <div id="p-total-price"> </div></div>
            <input type="button" value="구매하기" id="purchase-btn" form="delivery-form">
          </div>
        </div>

    </div>
  </body>
</html>
