@import '../sidebar/sidebar.css';
/* .div-container img {
  width: 540px;
  height: 750px;
} */
/* 
.shopmen {
  cursor: pointer;
  border: 1px solid red;
  padding: 10px;
}

.shopwomen {
  cursor: pointer;
  border: 1px solid blue;
  padding: 10px;
  margin-left: 3rem;
} */

.mainpagecontainer {
  display: flex;
}
.left, .right {
  position: relative;
  transition: all 0.3s;
}
.mainpagecontainer p {
  position: absolute;
  top: 50%;
  left: 35%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.left:hover, .right:hover {
  opacity: 0.5;
}
